$success_color: green;
$alert_color: yellow;
$error_color: red;

#schedule-of-watches {
  div {
    margin: 0;
  }
  display: flex;
  flex-direction: column;

  .calendar {
    width: 150vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(auto, auto);

    &__td, &__th {
      padding: 5px;
      height: 2.5rem;
      border: 1px solid $success_color;
    }

    &__th {
      font-weight: bold;
    }

    .current {
      background: $alert_color;
    }
    .weekend {
      background: $error_color;
    }
    .select {
      background: $success_color;
    }
  }

  .param {
    &__form {
      float: left;
      padding: 10px;
    }
  }
}

